**/*~
**/*.pyc
**/*.pyo

build
dist

libatt.egg-info
*.sw[a-z]
.ropeproject
*.egg-info
.eggs
.cache
.tox
.vscode

images
artifacts

# Ansible "retry" files
*.retry

# Default download directory for FMF metadata
source
